HIFIS_DB_USER=your_db_user
HIFIS_DB_PASSWORD=your_db_password
HIFIS_DB_NAME=your_db_name
HIFIS_DB_HOST=localhost
HIFIS_DB_PORT=5432

JWT_SECRET_KEY=
JWT_EXPIRE_MINUTES=

SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_SENDER=

CLAUDE_API_KEY=